---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="inline-flex items-center sm:relative sm:inline-block"
			href="/"
			>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12 text-gray-900 dark:text-[#F0EAD6] hover:text-[#8B0000] dark:hover:text-[#40E0D0]"
				fill="currentColor"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="512"
				height="512"
				zoomAndPan="magnify"
				viewBox="0 0 384 383.999986"
				preserveAspectRatio="xMidYMid meet"
				version="1.0"
			>
				<title>Logo</title>
				<defs>
				<clipPath id="2585e5ff64">
					<path d="M 216 246 L 333.074219 246 L 333.074219 373 L 216 373 Z" clip-rule="nonzero"/>
				</clipPath>
				<clipPath id="049c87ce17">
					<path d="M 51.074219 249 L 149 249 L 149 373 L 51.074219 373 Z" clip-rule="nonzero"/>
				</clipPath>
				</defs>
				<!-- Removed the <rect> elements so no white background -->
				<path d="M 64.0625 20.582031 L 64.0625 29.484375 L 90.367188 29.484375 C 114.414062 29.484375 117.066406 29.855469 122.929688 33.75 C 135.804688 42.28125 136.359375 62.125 124.058594 71.027344 C 119.328125 74.550781 115.542969 74.921875 91.316406 75.480469 L 64.0625 76.222656 L 64.0625 135.195312 L 80.757812 135.195312 L 82.613281 114.238281 L 82.613281 93.46875 L 102.484375 92.355469 C 126.898438 91.058594 136.566406 86.421875 144.894531 72.511719 C 152.09375 60.640625 152.277344 43.394531 145.46875 31.710938 C 138.273438 19.472656 127.863281 14.09375 108.734375 13.351562 C 100.40625 12.980469 86.769531 12.425781 78.828125 12.238281 L 64.0625 11.496094 Z M 64.0625 20.582031"/>
				<path d="M 258.121094 15.390625 C 242.910156 21.882812 232.519531 31.527344 224.171875 47.105469 C 219.71875 55.078125 219.160156 58.601562 218.976562 73.066406 C 218.976562 92.355469 222.128906 101.070312 234.746094 115.167969 C 252 134.824219 285.207031 141.6875 307.84375 130.1875 C 319.160156 124.4375 320.273438 122.585938 317.117188 115.167969 C 315.632812 111.457031 314.152344 108.121094 313.78125 107.75 C 313.410156 107.378906 309.511719 109.417969 305.246094 112.382812 C 295.042969 119.0625 276.117188 120.542969 264.058594 115.722656 C 252.925781 111.457031 242.722656 100.886719 238.457031 89.386719 C 234.003906 77.519531 233.816406 70.101562 237.527344 58.972656 C 247.359375 30.226562 285.207031 17.800781 307.101562 36.347656 C 310.253906 38.945312 313.039062 40.796875 313.222656 40.425781 C 316.191406 35.792969 319.902344 25.035156 318.972656 23.738281 C 318.417969 22.808594 313.59375 19.84375 308.398438 17.058594 C 294.113281 9.828125 273.148438 9.085938 258.121094 15.390625 Z"/>
				<g clip-path="url(#2585e5ff64)">
				<path d="M 272.222656 250.550781 C 264.984375 265.941406 216.191406 371.46875 216.191406 372.023438 C 216.191406 372.394531 220.273438 372.578125 225.097656 372.578125 L 234.1875 372.578125 L 254.226562 328.8125 L 274.261719 285.042969 L 279.273438 295.800781 C 282.054688 301.921875 286.136719 310.824219 288.546875 316.015625 C 290.960938 321.023438 297.640625 335.671875 303.390625 348.46875 L 313.964844 371.652344 L 323.613281 372.207031 L 333.074219 372.765625 L 326.765625 359.226562 C 309.511719 321.765625 275.003906 247.398438 274.632812 246.839844 C 274.449219 246.65625 273.335938 248.324219 272.222656 250.550781 Z"/>
				</g>
				<g clip-path="url(#049c87ce17)">
				<path d="M 52.929688 249.808594 C 51.816406 250.179688 51.074219 254.074219 51.074219 258.523438 L 51.074219 266.5 L 78.71875 267.242188 C 105.988281 267.796875 106.546875 267.796875 114.523438 273.359375 C 125.46875 280.964844 132.707031 295.429688 132.707031 309.339844 C 132.707031 325.660156 129.738281 333.632812 119.71875 343.09375 C 108.957031 353.664062 100.609375 355.886719 71.480469 355.886719 L 51.074219 355.886719 L 51.074219 372.949219 L 77.605469 372.207031 C 110.070312 371.097656 118.605469 368.3125 131.777344 355.148438 C 146.25 340.679688 148.476562 334.5625 148.476562 310.453125 C 148.476562 292.832031 147.917969 288.9375 144.207031 282.261719 C 137.714844 270.023438 129.550781 261.863281 118.234375 256.296875 C 108.585938 251.664062 105.433594 251.105469 81.128906 250.179688 C 66.660156 249.621094 53.855469 249.4375 52.929688 249.808594 Z"/>
				</g>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Prime Chase Data</span>
			</a>

		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
