---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Prime Chase Data About Page",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			프라임 체이스 데이터를 방문해주셔서 감사합니다.
		</p>
		<p>다음과 같은 서비스를 제공합니다:</p>
		<ul class="list-inside list-disc" role="list">
			<li>SEO</li>
			<li>Small Business Technology</li>
			<li>PPC - Google and Amazon</li>
			<li>Business Intelligence - Power BI</li>
			<li>Project Management and Workshops</li>
			<li>Content Marketing</li>
			<li>Social Media Marketing</li>
			<li>Seller Representation</li>
			<li>ASC Management</li>
			<li>Content Production</li>
		</ul>
	</div>
</PageLayout>
